<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{{ asset('js/validate.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="menu">
                <div class="logo">
                    <img src="{{ asset('png/logo.png') }}" />
                </div>
                <ul class="nav-menu">
                    <li class="active"><a href="{{ path('pizzeria') }}">Home</a></li>
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('register') }}">Register</a></li>
                    <li><a href="{{ path('activate_account') }}">Activate Account</a></li>
                    <li><a href="{{ path('menu') }}">Menu</a></li>
                    <li><a href="{{ path('salary') }}">Salary</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                </ul>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
        {% block javascripts %}{% endblock %}
</html>
